
<%- include("partials/header") %>


<div class="container">
    <p>The weather is currently: <%=weatherDiscription %></p>
    <h1>The temperature in <%= cityName %> is : <%= temperature %></h1>
    <img src="<%= image %>" alt="cloudImage">
</div>
    

    <%- include("partials/footer") %>